# =========================
# Build
# =========================
bin/
obj/
Debug/
Release/

# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / VS Code (opcional)
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# NuGet
# =========================
packages/
*.nupkg
*.snupkg

# =========================
# Resharper
# =========================
_ReSharper*/
*.DotSettings.user

# =========================
# Test Results
# =========================
TestResults/

# =========================
# Publish / Output
# =========================
publish/
*.publish.xml

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# Configs sensíveis
# =========================
appsettings.Development.json
*.env
.env

# =========================
# Banco local (se tiver)
# =========================
*.mdf
*.ldf

# =========================
# Backup / temporários
# =========================
*.bak
*.tmp
*.temp